@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--tg-bg-color);
    --foreground: var(--tg-text-color);
    --card: var(--tg-bg-color);
    --card-foreground: var(--tg-text-color);
    --popover: var(--tg-bg-color);
    --popover-foreground: var(--tg-text-color);
    --primary: var(--tg-button-color);
    --primary-foreground: var(--tg-button-text-color);
    --secondary: var(--tg-bg-color);
    --secondary-foreground: var(--tg-text-color);
    --muted: var(--tg-hint-color);
    --muted-foreground: var(--tg-hint-color);
    --accent: var(--tg-link-color);
    --accent-foreground: var(--tg-text-color);
    --destructive: rgb(239, 68, 68);
    --destructive-foreground: var(--tg-button-text-color);
    --border: var(--tg-hint-color);
    --input: var(--tg-hint-color);
    --ring: var(--tg-link-color);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* a {
    color: var(--tg-link-color);
  } */
}

/* Ensure sticky headers work properly */
.sticky {
  position: sticky;
  z-index: 30;
  background-color: var(--tg-bg-color);
}
